body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.top-container {
    background-color: #062539;
    color: rgb(94, 173, 222);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.top-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    line-height: 10px;
}
.top-header-img {
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: rgba(193, 17, 131, 0.25) 0px 50px 100px -20px,
}

/* jobData components start here */

.job {
    width: 90%;
    margin: 0 auto;
    color: #314c5e;
    padding: 2rem;
    height: 100px;
}
.job-header {
    font-family: sans-serif;
    line-height: 1rem;
    margin:auto;
    width: 100%;
}

/* jobData components end here */

/* user-list start here */
.user {
    /* display: grid;
    text-decoration: none;
    width: 100%; */
    width: 100%;
    background-color: white;
    height: 110px;
    margin: 0 auto;
    margin-top: 50px;
}

.user-left {
    display: flex;
    width: 50%;
}
.user-list {
    /* border: 2px solid black; */
    box-shadow: 4px 4px 10px 0 rgba(22,25,28,.07);
    border-radius: 3px;
    margin-bottom: 20px;
    /* padding-left: 25px;  */
    color: rgb(234, 218, 218);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* justify-content: space-between; */
    align-items: flex-start;
    transition: transform 0.1s ease-in-out;
    text-decoration: none;
    height: 100px; 
}
.user-list:hover {
    transform: scale(1.01);
}
.user-link {
    display: flex;
    /* justify-content: space-between;  */
    align-items: flex-start;
    text-decoration: none;
}
.user-list:nth-child(5n + 1) {
    background: linear-gradient(90deg,
    rgb(147, 117, 207) 0%,
    rgb(78, 36, 103) 100%);
}
.user-list:nth-child(5n + 5) {
    background: linear-gradient(90deg,
    rgb(152, 109, 145) 0%,
    rgb(112, 61, 141) 100%);
}
.user-list:nth-child(5n + 3) {
    background: linear-gradient(90deg,
    rgb(114, 157, 232) 0%,
    rgb(36, 81, 117) 100%);
}
.user-list:nth-child(5n + 4) {
    background: linear-gradient(90deg,
    rgb(202, 123, 214) 0%,
    #a45853 100%);
}
.user-list:nth-child(5n + 2) {
    background: linear-gradient(90deg,
    rgb(193, 64, 148) 0%,
    #a13db1 100%);
}
.user.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    
}
.user-name {
    /* padding-top: 5px; */
    /* margin-top: 15px; */
    font-size: 14px;
    color: rgb(234, 218, 218);
    font-weight: 300;
    line-height: 1.1;
    margin: 6px;
    padding-top: 10px;
    
}
.user-type {
    font-size: 12px;
    color: rgb(234, 218, 218);
    margin: 6px;
}
.user-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 80px;
  /* display: flex;
  align-items: center; */
}
.user-stack {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.stack-name {
    border: 2px solid rgb(30, 29, 29);
    border-radius: 8px;
    margin: 10px;
    padding: 8px;
    color: rgb(234, 218, 218);
    margin-right: 10px;
    flex-direction: column;

} 

.button {
    background-color: #072539;
    color:  #fff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    /* width: 100px;
    height: 50px;
    font-size: 20px */
    
}

.user-left img {
    /* max-width: 50px;
    height: auto;
    padding-bottom: 40px;
    margin-top: 20px; */
    object-fit: contain;
    margin-right: 20px;
    margin: 8px;
}
.location-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: rgb(234, 218, 218);
    font-size: 12px;
    /* margin: 6px; */

}
.user-location-img {
    height: 15px;
    /* margin-right: 5px; */
    width: 15px;
    padding-bottom: 15px;
}
.user-location {
    padding-bottom: 16px;
    font-size: 14px;
    color: rgb(226, 214, 214);
}
/* user-list end here */

/* joblist start here */
.user-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #314c5e;
    /* padding: 2rem; */
}

.job-list-info {
    padding-top: 15px;
    line-height: 1rem;
    margin-bottom: 8px;
    margin-top: 8px;
}
.job-description {
    line-height: 1rem;
    margin-bottom: 8px;
    margin-top: 12px;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
}
.job-others {
    padding: 2px;
    line-height: 7px;
}
.job-title {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
}
.job-res li,
.job-required li {
    margin-bottom: 5px;
    padding: 2px;
}
.job-required ul {
    /* padding-bottom: 8px; */
    margin-bottom: 5px;
    margin: 6px;
    margin-top: 10px
}

@media only screen and (max-width: 768px) {
    .top-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .top-header {
        align-items: center;
        width: 100%;
    }

    .top-header img {
        max-width: 100%;
        height: auto;
    }

    .team {
        font-size: 20px;
    }
    .text {
        font-size: 12px;
    }

    .user {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .user-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .user-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .user-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .user-location-img {
        margin-right: 20px;
        max-width: 10%;
        margin: 0 auto;
        height: 10px;
        
    }
    .location-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    .user-stack {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
    }

    .stack-name {
        font-size: 10px;
        margin: 3px;
        padding: 3px;
    }
    .button {
        font-size: 8px;
        /* height: 20px;
        width: 30px; */
        display: flex;
    }
}
